body
{
  background-color: #78010B;
  color: white;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1
{
  text-decoration: underline;
  font-size: 40px;
}

#MainCanvas
{
  background-color: #01781D;
  border: 5px #014C12 solid;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.lobby
{
  height: 70px;
  width: 450px;
  border: 2px solid;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.create
{
  display: none;
  margin-top: 30px;
  height: 270px;
  text-align: center;
  border: 2px solid;
  padding: 10px;
}

.join
{
  display: none;
  margin-top: 30px;
  height: 190px;
  border: 2px solid;
  padding: 10px 30px;
}

#buttonJoinIP
{
  margin-top: 20px;
}

.actions
{
  height: 50px;
  width: 550px;
  border: 2px solid;
  text-align: center;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.players
{
  text-align: center;
  padding: 5px 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

label
{
  float: left;
  padding: 0 1em;
  margin-left: 6px
}

#container {
  display: block;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}
#container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 30%;
  transition: 0.3s;
}
#container input:checked ~ #checkmark
{
  background-color: #01781D;
}
#checkmark:after
{
  content: "";
  position: absolute;
  display: none;
}
#container input:checked ~ #checkmark:after
{
  display: block;
}
#container #checkmark:after
{
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


input[type=text]
{
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 15px;
  float: left;
  transition: 0.5s;
  border: 3px solid #ffffff;
  outline: none;
}
input[type=text]:focus
{
  border: 3px solid #01781D;
}

button
{
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px #01781D solid;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 0px;
  width: 100px;
  height: 50px;
}
button:hover
{
  background-color: #01781D;
  color: white;
  border-color: black;
  border-width: 2px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active
{
  background-color: #1C8A3F;
}

#buttonDouble, #buttonCreate, #buttonJoin
{
  width: 150px;
}
